{
    admin off
    email neketli.dev@gmail.com
}

projectly.ru {
    handle /api/* {
        reverse_proxy projectly_nginx:4242
    }

    handle /media/* {
        reverse_proxy projectly_nginx:4242
    }

    handle_path /my/* {
        reverse_proxy projectly_frontend:3000
    }

    handle {
        reverse_proxy projectly_landing:3000
    }
}

www.projectly.ru {
    handle /api/* {
        reverse_proxy projectly_nginx:4242
    }

    handle /media/* {
        reverse_proxy projectly_nginx:4242
    }

    handle_path /my/* {
        reverse_proxy projectly_frontend:3000
    }

    handle {
        reverse_proxy projectly_landing:3000
    }
}
